.cardbody {
  margin-top: 75px;
  padding: 0 50px;
}

.littleImage {
  width: auto;
  height: 100px;
  margin-right: 15px;
}

.checkoutBox {
  margin-top: 100px;
  margin-right: 100px;
}

.inline-block-child {
  display: inline-block;
  vertical-align: middle;
}