.logo {
  width: 45%;
  height: auto;
}

.container {
  margin: 20px;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

.radioGroup {
	display: flex;
	align-items: center;
	justify-content: center;
}